/* body{
    margin: 0;
    padding: 0;
} */

.container{
    /* display: flex; */
    border: 1px solid grey;
    min-height: 60vh;
    justify-content: space-around;
    align-items: stretch;
}

#resumen{
    display: flex;
    flex-direction: column;
}

.tablaResumen{
    display: flex;
    justify-content: space-between;
    align-content: center;
}

#tabla{
    display: flex;
    justify-content: flex-start;
    margin-right: 50px;
    align-items: flex-start;
    margin-bottom: 200px;
    flex-direction: column;
    margin-top: 20px;
}
table{
    width: 10%;
    
}

input{
    width: 470px;
    margin-right: 10px;
}

#agregar{
    display: flex;
    justify-content: space-around;
}

.container__uno{
    margin-top: 25px;
    margin-left: 10px;
}

strong{
    margin-right: 16px;
}